body{
    background-color: lightblue;
    padding-top: 70px;
}
/*Testing @media responsive CSS
@media only screen and (orientation : landscape) {
    body{
        background-color: red;
    }
}*/
.container{
    margin-right: 2.5%;
    margin-left: 2.5%;
}
@media only screen and (min-width: 768px) {
    /* Tablet size */
    .container {
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
}
@media only screen and (min-width: 1200px) {
    /* Monitor size */
    .container {
        margin-left: 12.5%;
        margin-right: 12.5%;
    }
}
.main-content-panel {
    min-height: 800px;
    border: 1px solid;
    border-radius: 25px;
    box-shadow: 1px 1px 30px #888888;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
}
.nav-bar-static{
    /* Moves when content is scrolled */
    height: 70px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: orange;
    border: 1px solid;
}
.nav-bar-sticky {
    /* Sticks to the top of the page when content is scrolled */
    /* Make sure to add padding-top: 70px; to your body when using nav-bar-sticky */
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: orange;
    border-bottom: 1px solid;
}
.footer-static{
    /* Moves when content is scrolled */

}
.footer-sticky {
    /* Sticks to the bottom of the page */
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    height: 110px;
    margin-top: 15px;
    background-color: orange;
    border-top: 1px solid;
}