body{
    font-family: 'Roboto', sans-serif;
    background-color: lightblue;
    padding-top: 70px;
    margin-bottom: 200px;
}
/*Testing @media responsive CSS
@media only screen and (orientation : landscape) {
    body{
        background-color: red;
    }
}*/
@keyframes margin0-5 {
    0% {margin-left: 7.5%;  margin-right: 7.5%;}
    100% {margin-left: 2.5%; margin-right: 2.5%;}
}
@keyframes margin5-15 {
    0% {margin-left: 2.5%;  margin-right: 2.5%;}
    100% {margin-left: 7.5%; margin-right: 7.5%;}
}
@keyframes margin15-25 {
    0% {margin-left: 7.5%;  margin-right: 7.5%;}
    100% {margin-left: 12.5%; margin-right: 12.5%;}
}
/* ------------------------------ */
/* ---------- CONTAINER --------- */
/* ------------------------------ */

.container{
    -webkit-animation-name: margin0-5;
    -moz-animation-name: margin0-5;
    -o-animation-name: margin0-5;
    animation-name: margin0-5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@media only screen and (min-width: 768px) {
    /* Tablet size */
    .container {
        -webkit-animation-name: margin5-15;
        -moz-animation-name: margin5-15;
        -o-animation-name: margin5-15;
        animation-name: margin5-15;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}
@media only screen and (min-width: 1200px) {
    /* Monitor size */
    .container {
        -webkit-animation-name: margin15-25;
        -moz-animation-name: margin15-25;
        -o-animation-name: margin15-25;
        animation-name: margin15-25;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}

/* ------------------------------ */
/* --------- NAVBAR-TOP --------- */
/* ------------------------------ */

.nav-bar-top {
    height: 70px;
    width: 100%;
    background-color: #FFFFFF;
}
.nav-bar-top-static {
    /* Moves when content is scrolled */

    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid;
}
.nav-bar-top-sticky {
    /* Sticks to the top of the page when content is scrolled */
    /* Make sure to add padding-top: 70px; to your body when using nav-bar-sticky */
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    border-bottom: 1px solid;
}
.nav-bar-top .heading {
    font-weight: bold;
    font-size: 32px;
    padding-top: 15px;
    float: left;
    margin-right: 30px;
}

.nav-bar-top-controls {
    list-style-type: none;
    display: inline;
    margin: 0px;

}
.nav-bar-top-controls.right{
    float: right;
}
.nav-bar-top-controls li{
    float: left;
    padding: 25px;
    background-color: #00CCFF;
}
.nav-bar-top-controls li:hover{
    background: #00CCFF;
    background-image: -webkit-linear-gradient(top, #00CCFF, #FFFFFF);
    background-image: -moz-linear-gradient(top, #00CCFF, #FFFFFF);
    background-image: -ms-linear-gradient(top, #00CCFF, #FFFFFF);
    background-image: -o-linear-gradient(top, #00CCFF, #FFFFFF);
    background-image: linear-gradient(to bottom, #00CCFF, #FFFFFF);
    text-decoration: none;
}
.nav-bar-top-controls li:active{
    background: #00AADD;
    background-image: -webkit-linear-gradient(top, #00AADD, #DDDDDD);
    background-image: -moz-linear-gradient(top, #00AADD, #DDDDDD);
    background-image: -ms-linear-gradient(top, #00AADD, #DDDDDD);
    background-image: -o-linear-gradient(top, #00AADD, #DDDDDD);
    background-image: linear-gradient(to bottom, #00AADD, #DDDDDD);
    text-decoration: none;
}
.nav-bar-top-controls a {
    display: block;
    text-align: center;
}

/* ------------------------------ */
/* -------- NAVBAR-SIDE --------- */
/* ------------------------------ */



/* ------------------------------ */
/* ------- Full-Page-Panel ------ */
/* ------------------------------ */

.full-page-panel {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 200px;
    border: 1px solid;
    border-radius: 25px;
    box-shadow: 1px 1px 30px #888888;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
}
.full-page-panel .heading {
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
    font-size: 36px;
}
.full-page-panel .subtitle{
    font-style: italic;
    font-size: 14px;
    font-weight: normal;
}
.full-page-panel .sub-heading {
    text-align: left;
    font-weight: bold;
    font-size: 22px;
}

/* ------------------------------ */
/* ------ Half-Page-Panels ------ */
/* ------------------------------ */

.half-page-panel {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45%;
    border: 1px solid;
    border-radius: 25px;
    box-shadow: 1px 1px 30px #888888;
    background-color: rgba(255, 255, 255, 0.4);
    min-height: 200px;
    padding: 10px;
}
@media only screen and (max-width: 595px) {
    .half-page-panel{
        width: 43%;
    }
}
.half-page-panel.left {
    float: left;
}
.half-page-panel.right{
    float: right;
}

/* ------------------------------ */
/* ---- Quarter-Page-Panels ----- */
/* ------------------------------ */

.quarter-page-panel {
    margin-top: 10px;
}

/* ------------------------------ */
/* ----------- FOOTER ----------- */
/* ------------------------------ */

.footer{
    height: 110px;
    left: 0px;
    right: 0px;
    background-color: #FFFFFF;
}
.footer-static{
    /* Moves when content is scrolled */
    clear: both;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 25px;
}
@media only screen and (min-width: 768px) {
    /* Tablet size */
    .footer-static {
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media only screen and (min-width: 1200px) {
    /* Monitor size */
    .footer-static {
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
}
.footer-sticky {
    /* Sticks to the bottom of the page */
    /* When adding footer-sticky add margin-bottom: 120px; to body */
    bottom: 0px;
    position: fixed;
    border-top: 1px solid;
}

/* ------------------------------ */
/* ----------- LABELS ----------- */
/* ------------------------------ */

.label{
    border: 1px solid;
    border-radius: 25px;
    font-weight: bold;
    padding: 5px;
}
@keyframes default-label {
    0% {background-color: #a9a9a9;
        border-color: #a9a9a9;}
    50% {background-color: #696969;
        border-color: #696969;}
    100% {background-color: #a9a9a9;
        border-color: #a9a9a9;}
}
.label.label-grey {
    background-color: #a9a9a9;
    border-color: #a9a9a9;
}
.label.label-grey-animated {
    -webkit-animation: default-label 500ms infinite;
    -o-animation: default-label 500ms infinite;
    animation: default-label 500ms infinite;
}
@keyframes primary-label {
    0% {background-color: #00CCFF;
        border-color: #00CCFF;}
    50% {background-color: #0088FF;
        border-color: #0088FF;}
    100% {background-color: #00CCFF;
        border-color: #00CCFF;}
}
.label.label-blue {
    background-color: #00CCFF;
    border-color: #00CCFF;
}
.label.label-blue-animated {
    -webkit-animation: primary-label 500ms infinite;
    -o-animation: primary-label 500ms infinite;
    animation: primary-label 500ms infinite;
}
@keyframes  success-label {
    0% {background-color: #32CD32;
        border-color: #32CD32;}
    50% {background-color: #008900;
        border-color: #008900;}
    100%{background-color: #32CD32;
        border-color: #32CD32;}
}
.label.label-green {
    background-color: #32CD32;
    border-color: #32CD32;
}
.label.label-green-animated {
    -webkit-animation: success-label 500ms infinite;
    -o-animation: success-label 500ms infinite;
    animation: success-label 500ms infinite;
}
@keyframes warning-label {
    0% {background-color: #FFAA00;
        border-color: #FFAA00;}
    50% {background-color: #CC8800;
        border-color: #CC8800;}
    100%{background-color: #FFAA00;
        border-color: #FFAA00;  }
}
.label-orange {
    background-color: #FFAA00;
    border-color: #FFAA00;
}
.label.label-orange-animated {
    -webkit-animation: warning-label 500ms infinite;
    -o-animation: warning-label 500ms infinite;
    animation: warning-label 500ms infinite;
}
@keyframes danger-label {
    0% {background-color: #DD0000;
        border-color: #DD0000;}
    50% {background-color: #990000;
        border-color: #990000;}
    100%{background-color: #DD0000;
        border-color: #DD0000;}
}
.label.label-red {
    background-color: #DD0000;
    border-color: #DD0000;
}
.label.label-red-animated {
    -webkit-animation: danger-label 500ms infinite;
    -o-animation: danger-label 500ms infinite;
    animation: danger-label 500ms infinite;
}

/* ------------------------------ */
/* ----------- BUTTONS ---------- */
/* ------------------------------ */

.button {
    border: 1px solid;
    border-radius: 15px;
    font-weight: bold;
    padding: 10px;
    font-size: 1em;
    box-shadow: 4px 4px 10px #000000;
}
.button.button-grey {
    background-color: #a9a9a9;
    border-color: #a9a9a9;
}
.button.button-grey:hover{
    background-color: #808080;
    border-color: #808080;
}
.button.button-grey:active{
    background-color: #696969;
    border-color: #696969;
}
.button.button-blue {
    background-color: #00CCFF;
    border-color: #00CCFF;
}
.button.button-blue:hover{
    background-color: #00AAFF;
    border-color: #00AAFF;
}
.button.button-blue:active{
    background-color: #0088FF;
    border-color: #0088FF;
}
.button.button-green {
    background-color: #32CD32;
    border-color: #32CD32;
}
.button.button-green:hover{
    background-color: #16AB16;
    border-color: #16AB16;
}
.button.button-green:active{
    background-color: #008900;
    border-color: #008900;
}
.button.button-orange {
    background-color: #FFAA00;
    border-color: #FFAA00;
}
.button.button-orange:hover{
    background-color: #DD9900;
    border-color: #DD9900;
}
.button.button-orange:active{
    background-color: #CC8800;
    border-color: #CC8800;
}
.button.button-red {
    background-color: #DD0000;
    border-color: #DD0000;
}
.button.button-red:hover{
    background-color: #BB0000;
    border-color: #BB0000;
}
.button.button-red:active{
    background-color: #990000;
    border-color: #990000;
}