body{
    font-family: 'Roboto', sans-serif;
    background-color: lightblue;
    padding-top: 70px;
    margin-bottom: 120px;
}
/*Testing @media responsive CSS
@media only screen and (orientation : landscape) {
    body{
        background-color: red;
    }
}*/

/* ------------------------------ */
/* ---------- CONTAINER --------- */
/* ------------------------------ */

.container{
    margin-right: 2.5%;
    margin-left: 2.5%;
}
@media only screen and (min-width: 768px) {
    /* Tablet size */
    .container {
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
}
@media only screen and (min-width: 1200px) {
    /* Monitor size */
    .container {
        margin-left: 12.5%;
        margin-right: 12.5%;
    }
}

/* ------------------------------ */
/* ----------- NAVBAR ----------- */
/* ------------------------------ */

.nav-bar{
    height: 70px;
    width: 100%;
    background-color: orange;
}
.nav-bar-static{
    /* Moves when content is scrolled */
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid;
}
.nav-bar-sticky {
    /* Sticks to the top of the page when content is scrolled */
    /* Make sure to add padding-top: 70px; to your body when using nav-bar-sticky */
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    border-bottom: 1px solid;
}
.nav-bar .heading {
    font-weight: bold;
    font-size: 32px;
    padding-top: 15px;
    padding-left: 5%;
}
@media only screen and (min-width: 768px) {
    /* Tablet size */
    .nav-bar .heading {
        margin-left: 7.5%;
    }
}
@media only screen and (min-width: 1200px) {
    /* Monitor size */
    .nav-bar .heading {
        margin-left: 12.5%;
    }
}

.nav-bar-controls {
    list-style-type: none;
    display: inline-block;
}
.nav-bar-controls .right{
    float: right;
}

/* ------------------------------ */
/* -------- Full-Page-Panel -------- */
/* ------------------------------ */

.full-page-panel {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 200px;
    border: 1px solid;
    border-radius: 25px;
    box-shadow: 1px 1px 30px #888888;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
}
.full-page-panel .heading {
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
    font-size: 36px;
}
.full-page-panel .subtitle{
    font-style: italic;
    font-size: 14px;
    font-weight: normal;
}
.full-page-panel .sub-heading {
    text-align: left;
    font-weight: bold;
    font-size: 22px;
}

/* ------------------------------ */
/* ------ Half-Page-Panels ------ */
/* ------------------------------ */

.half-page-panel {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45%;
    border: 1px solid;
    border-radius: 25px;
    box-shadow: 1px 1px 30px #888888;
    background-color: rgba(255, 255, 255, 0.4);
    min-height: 200px;
    padding: 10px;
}
@media only screen and (max-width: 595px) {
    .half-page-panel{
        width: 43%;
    }
}
.half-page-panel.left {
    float: left;
}
.half-page-panel.right{
    float: right;
}

/* ------------------------------ */
/* ----- Quarter-Page-Panels ----- */
/* ------------------------------ */

.quarter-page-panel {
    margin-top: 10px;
}

/* ------------------------------ */
/* ----------- FOOTER ----------- */
/* ------------------------------ */

.footer{
    height: 110px;
    left: 0px;
    right: 0px;
    background-color: orange;
}

.footer-static{
    /* Moves when content is scrolled */
    clear: both;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 25px;
}
.footer-sticky {
    /* Sticks to the bottom of the page */
    /* When adding footer-sticky add margin-bottom: 120px; to body */
    bottom: 0px;
    position: fixed;
    border-top: 1px solid;
}